In [1]:
LINK = 'https://www.kaggle.com/wenruliu/adult-income-dataset'
import pandas as pd

In [13]:
df = pd.read_csv("data.csv")
df.head()

   age  workclass  fnlwgt
0   25    Private  226802
1   38    Private   89814
2   28  Local-gov  336951
3   44    Private  160323
4   18          ?  103497

In [18]:
df['fnlwgt'].isna().sum()

0

In [19]:
df["count"] = df["fnlwgt"].map(df["fnlwgt"].value_counts())
df.head()

   age  workclass  fnlwgt  count
0   25    Private  226802      1
1   38    Private   89814      1
2   28  Local-gov  336951      4
3   44    Private  160323      2
4   18          ?  103497      1

In [20]:
import seaborn as sns 
sns.barplot(x = "fnlwgt", y = "count", data=df)